$blue: #6EBBD3;
$card-background: #f3f3f3;
$bg: #e5e5e5;
$footer-bg: #1F2021;
$red: #E52D2D;
$button: #CACACA;

$mobile-width: 320px;
$tablet-width: 660px;
$tablet-pro-width: 834px;
$desktop-width: 1440px;
$desktop-large-width: 1920px;